/* Higlight tag */
.highlight {
    background-color: yellow;
    color: #000;
    font-weight: inherit;
}

/* Popup skeleton */
#relaxtension-popup,
#relaxtension-popup * {
    box-sizing: border-box;
}

#relaxtension-popup {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 200px;
}

/* Grid / row */
#relaxtension-popup .row {
    margin-right: -10px;
    margin-left: -10px;
}

#relaxtension-popup .row:after, 
#relaxtension-popup .row:before {
    display: table;
    content: " ";
}

#relaxtension-popup .row:after {
    clear: both;
}

/* Grid / col */
#relaxtension-popup [class*="col-"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

#relaxtension-popup .col-1 {
    width: 8.333%;
}
#relaxtension-popup .col-2 {
    width: 16.666%;
}
#relaxtension-popup .col-3 {
    width: 25%;
}
#relaxtension-popup .col-4 {
    width: 33.333%;
}
#relaxtension-popup .col-5 {
    width: 41.666%;
}
#relaxtension-popup .col-6 {
    width: 50%;
}
#relaxtension-popup .col-7 {
    width: 58.333%;
}
#relaxtension-popup .col-8 {
    width: 66.666%;
}
#relaxtension-popup .col-9 {
    width: 75%;
}
#relaxtension-popup .col-10 {
    width: 83.333%;
}
#relaxtension-popup .col-11 {
    width: 91.666%;
}
#relaxtension-popup .col-12 {
    width: 100%;
}

/* Form */
#relaxtension-popup input, 
#relaxtension-popup button {
    height: 25px;
    vertical-align: middle;
    max-width: 100%;
}

#relaxtension-popup button img {
    height: 100%;
}
#relaxtension-popup .wc {
    padding-right: 0;
}